
<h1>Welcome to IRIS predictions</h1>
<h2>Please enter your flower measurements below:</h2>
<form action = "/prediction" method="POST">
<form  method="POST">
    <label for="sep_len">Sepal Length</label> <input id="sep_len" name="sep_len" type="text" value="">
    <br>
    <label for="sep_wid">Sepal Width</label> <input id="sep_wid" name="sep_wid" type="text" value="">
    <br>
    <label for="pet_len">Petal Length</label><input id="pet_len" name="pet_len" type="text" value="">
    <br>
    <label for="pet_wid">Petal Width</label><input id="pet_wid" name="pet_wid" type="text" value="">
    <br>
    <input id="submit" name="submit" type="submit" value="Analyze">
</form>